# ==========================================
# Артефакты компиляции и сборки .NET
# ==========================================
bin/
obj/
*.exe
*.dll
*.pdb
*.deps.json
*.runtimeconfig.json

# ==========================================
# Локальные файлы сред разработки (IDE)
# ==========================================
# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.DotSettings.user

# Visual Studio Code
.vscode/

# ==========================================
# Логи и динамические данные сервера (на будущее)
# ==========================================
Logs/
Saves/
*.log

# ==========================================
# Исключения (Что ОБЯЗАТЕЛЬНО должно быть в git)
# ==========================================
# Разрешаем Git отслеживать саму папку с вашими кастомными скриптами,
# даже если внутри они компилируются или создают кэш.
!CustomScripts/
